# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Local data (never commit)
data/raw/
data/intermediate/
data/processed/

# VS Code
.vscode/

# Optional env folders
.venv/
